@font-face { font-family: Delicious; src: url('http://hellotopper.in/Quicksand/Quicksand-Bold.ttf'); } 
h3,div ,body,p,h1,h2,h3,h4,h5,h6,table,td,tr,li,ol,ul,span{ font-family: Delicious, sans-serif !important; }

.parent * {
  font-family: Delicious;
}