/* This file contain all the css rules those could not solved by bootstrap rules */

@media (max-width:1199px) {
    .optional-feature {
        padding: 40px 25px;
    }
    .screenshot-carousel {
        width: 735px;
        padding: 79px 0;
    }
    .sreen-mock {
        height: 497px;
        width: 265px;
        margin-bottom: -505px;
    }
    .owl-carousel .sponsor img {
        max-width: 90px;
    }
    .sponsor-group .feature-media {
        padding: 15px 30px;
    }
}

@media (max-width: 1023px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar {
        min-height: 60px;
    }
    .navbar-brand,
    .affix .navbar-brand {
        height: 30px;
    }
    .navbar-toggle {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .navbar-default .navbar-toggle {
        border-color: #ffffff;
        border-radius: 7px;
        display: none;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #ffffff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #a7cb00;
    }
    .navbar-default .navbar-collapse {
        background-color: #a7cb00;
    }
    .blue .navbar-default .navbar-collapse {
        background-color: #00c2fc;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .sponsor-carousel .owl-prev {
        left: -60px;
    }
    .sponsor-carousel .owl-next {
        right: -60px;
    }
}

@media (max-width:991px) {
    
    .navbar-brand{
        text-align: center;
        margin: 44px;
    }

    .header-slider {
        height: 648px;
        padding: 160px 0 180px 0;
    }
    .header-slider .owl-stage-outer {
        top: 50%;
        transform: translateY(-50%);
    }
    .header-slider .owl-item>div {
        margin-right: 50px;
    }
    .display-flex {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 50px;
    }
    .banner-area .vertical-center {
        margin-top: 30px;
    }
    .banner-form .display-flex {
        position: absolute;
        top: 50%;
        width: auto;
        transform: translateY(-50%);
    }
    #featured-media-area .display-flex {
        display: flex;
    }
    .features {
        margin-bottom: 12px;
    }
    .penta-circle-wrapper {
        margin-bottom: 60px;
        text-align: center;
    }
    .event-description .penta-circle-wrapper {
        margin-bottom: 0;
        margin-top: 60px;
    }
    .review-carousel-wrapper {
        margin-top: 60px;
        margin-left: 70px;
    }
    .optional-feature {
        padding: 20px;
    }
    .feature-center-img {
        padding: 50px 0;
    }
    .feature-media {
        padding: 0 20px;
    }
    .screenshot-carousel {
        width: 725px;
        padding: 84px 0;
    }
    .sreen-mock {
        height: 490px;
        width: 262px;
    }
    .sponsor-group .feature-media {
        width: 100%;
        display: block;
        padding: 40px 60px;
    }
    .sponsor-group .feature-media img {
        max-height: 100%;
        max-width: none;
        width: auto;
    }
    .subcribe-area h2,
    .subcribe-area p {
        text-align: center;
    }
    .subscribe-form {
        margin-top: 30px;
    }
    #about-area .col-md-6+.col-md-6 {
        margin-top: 60px;
    }
    .sidebar {
        margin-top: 60px;
        border-top: 1px solid #dddddd;
        float: left;
        width: 100%;
        padding-top: 60px;
    }
    #others-speaker .team-members .col-md-3:nth-child(3n+1) {
        clear: left;
    }
    .footer-menu .menu-item a {
        margin: 0 5px;
    }
}

@media (max-width:767px) {
    .navbar-collapse {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .banner-area {
        padding-top: 60px;
        min-height: 520px;
    }
    .header-slider {
        height: 460px;
        padding: 100px 0 120px 0;
    }
    .banner-area .vertical-center {
        margin-top: 30px;
        left: 15px;
        right: 15px;
    }
    .banner-area h1 {
        font-size: 2.4rem;
    }
    .banner-area p {
        font-size: 1.6rem;
    }
    .button-group .btn {
        display: block;
        width: 100%;
        text-align: center;
    }
    .button-group .btn:not(:first-child) {
        margin-left: 0;
        margin-top: 20px;
    }
    .btn {
        font-size: 1.4rem;
        padding: 5px 15px;
    }
    .section_count,
    .section_count+.section_count {
        margin: 5px;
    }
    .section_count:nth-child(2n+1) {
        clear: left;
    }
    .section-padding,
    .section-padding-extra {
        padding: 60px 0;
    }
    .display-flex .section-heading {
        padding-left: 0;
        padding-right: 0;
    }
    .border-sep {
        padding: 0;
    }
    .border-sep.section-padding-extra .container,
    .border-sep.section-padding .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .services .col-sm-4+.col-sm-4 {
        margin-top: 40px;
    }
    .mock-group-1 .front-mock {
        margin-right: 40px;
        width: 150px;
    }
    .mock-group .icon-group i {
        transform: scale(0.7) !important;
    }
    .mock-group .icon-group i.small {
        right: -10px;
    }
    .mock-group .icon-group i:first-child {
        top: 0;
    }
    .mock-group .icon-group i:last-child {
        bottom: 0;
    }
    .mock-group .icon-group i.big {
        transform: translateY(-50%) scale(0.6) !important;
        right: -60px;
    }
    .mock-group-1 .back-mock {
        margin: 40px 0;
        max-height: 70%;
        left: -50px;
    }
    .mock-group-1 {
        float: none;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
    }
    .penta-circle-wrapper {
        padding: 38px 15px 20px 15px;
    }
    .penta-circle {
        padding: 50px;
    }
    .penta-logo {
        height: 100px;
        width: 100px;
    }
    .penta-logo img {
        top: 38px;
        width: 60px;
    }
    .penta-area {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 2.8rem;
    }
    .left-block {
        border-right: none;
        text-align: left;
    }
    .right-block {
        border-left: none;
    }
    .screenshot-carousel {
        width: 241px;
    }
    .review-carousel .owl-item {
        text-align: center;
    }
    .client-mock {
        float: none;
        margin: 0 auto;
    }
    .pricing-tables .col-sm-4+.col-sm-4 {
        margin-top: 40px;
    }
    .review-carousel-wrapper {
        margin-left: 0;
    }
    .client-mock {
        display: block;
    }
    .review+.review {
        margin-top: 45px;
    }
    .review-content {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .review-carousel .owl-dots {
        position: relative !important;
        left: 0 !important;
        transform: translate(0);
    }
    .review-carousel .owl-dot {
        display: inline-block;
        margin: 20px 20px 0 0;
    }
    .comment {
        padding: 15px 15px 15px 0;
    }
    .feature-medias .col-sm-3,
    .feature-medias .col-md-6 {
        display: block;
        width: 100%;
    }
    .feature-media {
        height: 120px;
        display: block;
        margin-bottom: 30px;
        padding: 33px 30px !important;
        width: 100% !important;
    }
    .feature-media img {
        max-height: 100%;
        max-width: none;
        width: auto;
    }
    .schedule-carousel .owl-item>div {
        overflow: auto;
    }
    .sponsor-carousel-wrapper {
        padding: 40px;
    }
    .sponsor-carousel .owl-prev {
        left: -40px;
    }
    .sponsor-carousel .owl-next {
        right: -40px;
    }
    #article-area {
        margin-bottom: -40px;
    }
    #article-area article {
        margin-bottom: 40px;
    }
    .widget-area {
        padding: 60px 0 40px 0;
    }
    .footer-menu {
        display: block;
        text-align: center;        
    }
    .footer-menu .menu-item {
        display: block;
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer-menu .menu-item a {
        margin: 0;
    }
    .lower-footer .col-md-6 {
        float: left;
        width: 100%;
        text-align: center;
    }
    .copyright {
        text-align: center;
        margin-top: 20px !important;
    }
    .page-header {
        margin: 60px 0 0 0;
        padding: 60px 0;
    }
    .share-intro {
        display: none;
    }
    .comment-body {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .child-comments {
        padding-left: 50px;
    }
    .schedule-static .col-md-12 {
        overflow: auto;
    }
    .contact-infos>.col-sm-4 {
        float: left;
        width: 100%;
    }
    .contact-info {
        clear: both;
    }
    .contact-infos .col-sm-4+.col-sm-4 {
        margin-top: 30px;
    }
}
