/*=======================================================================
* Template Name: Craze
* Template URI: http://codepassenger.com/
* Author: CodePassenger
* Author URI: http://codepassenger.com/
* Description: Craze | App Landing HTML Template
* Version: 1.0
* License: GPL v2 or later
* License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
* Tags: html, template, app landing, marketing, craze, codepassenger
======================================================================= */


/*------------------------------------------------------
Table of content
--------------------------------------------------------
1. General Styles
2. Navbar
3. Header Slider
4. Services
5. Feature
6. Description
7. Call to Action
8. Optional Features
9. Screenshot
10. Pricing Table
11. Team
12. Download
13. Feature Media
14. Subscribe
15. Footer
16. Event Landing Page 1
17. Event Landing Page 2
18. Pages
---------------------------
19. Blog Page
20. Single Blog Page
21. Contact Page
------------------------------------------------------*/


/*----------------------------------------
General Styles
----------------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #a7cb00;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

section,
header,
footer {
    position: relative;
}

p {
    line-height: 1.7;
    margin-bottom: 20px;
}

p:last-child {
    margin: 0;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: #a7cb00;
    transition: all 0.3s;
}

a:focus,
a:visited {
    color: #a7cb00;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #89a602;
}

.section-padding {
    padding: 120px 0;
}

.section-padding-extra {
    padding: 150px 0;
}

.bg-section {
    background-position: center center;
    background-size: cover;
}

.display-flex {
    display: flex;
    align-items: center;
}

.border-sep .container {
    position: relative;
}

.border-sep .container:after {
    background-color: #dddddd;
    content: "";
    left: 15px;
    right: 15px;
    height: 1px;
    bottom: 0;
    position: absolute;
    display: block;
}

.border-sep {
    padding: 0;
}

.border-sep.section-padding-extra .container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.border-sep .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-heading {
    margin-bottom: 56px;
}

.section-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.bg-section .section-title,
.bg-section .section-sub {
    color: #ffffff;
}

.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.bg-black {
    background-color: #000000 !important;
}


/*** Button ***/

.button-group {
    margin-top: 25px;
}

p+.button-group {
    margin-top: 40px;
}

.button-group .btn:not(:first-child) {
    margin-left: 18px;
}

.btn {
    font-weight: 500;
    font-size: 2rem;
    color: #a7cb00;
    border: 1px solid #a7cb00;
    border-radius: 7px;
    padding: 9px 24px;
    display: inline-block;
    transition-duration: 0.3s;
}

.btn:focus,
btn:visited {
    color: #a7cb00;
}

.btn-default {
    background-color: transparent;
}

.btn:hover {
    background-color: #a7cb00;
    border-color: #a7cb00;
    color: #ffffff;
}

.btn-small {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 9px 27px;
    color: rgba(0, 0, 0, 0.8);
}

.btn-solid {
    background-color: #a7cb00;
    color: #ffffff;
}

.btn-solid:focus,
.btn-solid:visited {
    color: #ffffff;
}

.btn-solid:hover {
    background-color: #89a602;
    border-color: #89a602;
}

.btn-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-white:focus,
.btn-white:visited {
    color: #ffffff;
}

.btn-white:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a7cb00;
}

.btn i {
    margin-right: 10px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}


/*** Form ***/

input,
textarea,
select {
    width: 100%;
    line-height: 1.7;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: -4px 6px 27px 0px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 9px 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    width: auto;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.input-success,
.input-error {
    margin-bottom: 0 !important;
    margin-top: 15px !important;
    line-height: 2;
    display: none;
}

.input-success {
    border: 1px solid #a7cb00;
}

.input-error {
    border: 1px solid #ff0000;
}


/*** Table ***/

table {
    width: 100%;
}

tr {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

tr:nth-child(2n) {
    background-color: #ffffff;
}

tr:nth-child(2n+1) {
    background-color: #f7f7f7;
}

th {
    font-weight: 400;
}

td,
th {
    padding: 22px 15px;
}

td:first-child,
th:first-child {
    text-align: center;
}


/*** Owl Carousel ***/

.vertical-slider .owl-pagination {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-slider.left-dots .owl-pagination {
    left: -70px;
    right: inherit;
}

.vertical-slider .owl-page {
    display: block;
    width: 15px;
    height: 15px;
    margin: 20px 0;
    border-radius: 50%;
    background-color: #a7cb00;
    opacity: 0.15;
}

.vertical-slider.white-dots .owl-page {
    background-color: #ffffff;
    opacity: 0.3;
}

.vertical-slider .owl-page.active {
    opacity: 0.44;
}

.vertical-slider.white-dots .owl-page.active {
    opacity: 0.8;
}

.vertical-slider .owl-item>div {
    position: relative;
}


/*** Mocks ***/

.mock-group {
    position: relative;
}

.front-mock {
    position: relative;
    box-shadow: -13px 17px 27px 0px rgba(0, 0, 0, 0.13);
}

.back-mock {
    position: absolute;
    top: 0;
    z-index: -1;
    left: -110px;
    box-shadow: -13px 17px 27px 0px rgba(0, 0, 0, 0.13);
}

.mock-group .icon-group {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.mock-group .icon-group i {
    width: 95px;
    height: 95px;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
    line-height: 95px;
    font-size: 3.3rem;
    color: #a7cb00;
}

.mock-group .icon-group i:first-child {
    top: 40px;
}

.mock-group .icon-group i:last-child {
    bottom: 40px;
}

.mock-group .icon-group i.big {
    height: 150px;
    width: 150px;
    line-height: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7rem;
}

.mock-group .icon-group i.small {
    right: 70px;
}


/*----------------------------------------
Navbar
----------------------------------------*/

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 120px;
    transition: all 0.4s;
}

.navbar.affix {
    min-height: 50px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default.affix {
    background-color: #a7cb00;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
}

.navbar-brand {
    height: 120px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.affix .navbar-brand {
    height: 50px;
}

.affix .navbar-brand>img {
    max-height: 30px;
}

.navbar-nav {
    padding: 35px 0;
    transition: all 0.4s;
}

.affix .navbar-nav {
    padding: 0;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.6rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav>li>a:not(:only-child):after {
    content: "\e259";
    font-family: 'Glyphicons Halflings';
    font-size: 1rem;
    margin-left: 5px;
    line-height: 0.8;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #fff;
}

.dropdown-menu {
    display: block !important;
    transform: rotateY(90deg);
    transform-origin: right;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border: none;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
}

.open>.dropdown-menu {
    transform: rotateY(0);
    opacity: 1;
    visibility: visible;
}


/*----------------------------------------
Header Slider
----------------------------------------*/

.banner-area {
    background-color: #a7cb00;
    min-height: 768px;
    padding-top: 120px;
    background-position: center center;
    background-size: cover;
}

.page404 .banner-area,
.page-comingsoon .banner-area {
    padding-top: 0;
}

.banner-area .vertical-center {
    margin-top: 40px;
}

.page404 .banner-area .vertical-center,
.page-comingsoon .banner-area .vertical-center {
    margin-top: 0;
}

.banner-area h1 {
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
}

.banner-area h1 span {
    display: block;
}

.banner-area p {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
}

.page404 .banner-area p {
    color: rgba(0, 0, 0, 0.8);
}

.page404 .socials {
    margin-top: 50px;
}


/*** Banner Registration ***/

.banner-registration {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 75px 60px;
    margin: 100px 0 120px 0;
}

.banner-registration:before {
    top: 10px;
    left: 0;
    bottom: 10px;
    right: 0;
    position: absolute;
    z-index: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    transform: skewY(3deg);
}

.bg-black .banner-registration,
.bg-black .banner-registration:before {
    background-color: rgba(0, 194, 252, 0.3);
}

.banner-registration * {
    position: relative;
    z-index: 1;
}

.banner-registration .form-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}

.banner-registration input {
    border: 1px solid #ffffff;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.banner-registration select {
    border: 1px solid #ffffff;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.banner-registration select option {
    background-color: #a7cb00;
    line-height: 40px;
}

.banner-registration ::-webkit-input-placeholder {
    color: #a7cb00;
}

.banner-registration ::-moz-placeholder {
    color: #a7cb00;
}

.banner-registration :-ms-input-placeholder {
    color: #a7cb00;
}

.banner-registration :-moz-placeholder {
    color: #a7cb00;
}

.banner-registration input[type=submit] {
    font-weight: 700;
    color: #a7cb00;
    font-size: 2rem;
    background-color: #ffffff;
    padding: 5px 24px;
    margin-top: 20px;
    margin-bottom: 0;
}

.banner-bg-1 {
    background-image: url(../img/color-1/bg/event-header.jpg);
}

.banner-bg-2 {
    background-image: url(../img/color-1/bg/event-header-2.jpg);
}

.banner-mock-1 {
    padding: 30px 15px 70px 0;
}


/*** Banner Countdown ***/

.event-header h1 {
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.event-header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 0;
}

.event-countdown {
    margin-top: 48px;
}

.section_count {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
    display: inline-block;
    border-radius: 10px;
}

.section_count+.section_count {
    margin-left: 30px;
}

.tcount {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: #a7cb00;
    display: block;
    margin-top: 32px;
}

.section_count .text {
    display: block;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #a7cb00;
    text-transform: uppercase;
    margin-top: 12px;
}


/*----------------------------------------
Services
----------------------------------------*/

.service {
    text-align: center;
}

.service-icon {
    color: #a7cb00;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    line-height: 128px;
    font-size: 5rem;
    text-align: center;
    float: none;
    margin: 0 auto;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
}

.service-title {
    margin-top: 25px;
}

.service p {
    margin-bottom: 0;
}

.more {
    font-weight: 600;
    margin-top: 15px;
    display: inline-block;
}

.more i {
    margin-left: 15px;
}


/*----------------------------------------
Feature
----------------------------------------*/

.features {
    float: left;
    width: 100%;
    margin-bottom: -48px;
}

.feature {
    float: left;
    width: 100%;
    margin-bottom: 48px;
}

.feature-icon {
    font-size: 4.4rem;
    color: #a7cb00;
    display: inline-block;
    width: 60px;
    float: left;
    margin-right: 30px;
    line-height: 1.7;
}

.feature-content {
    float: left;
    width: calc(100% - 90px);
    display: inline-block;
}

.mock-group-1 {
    float: right;
}

.mock-group-1 .front-mock {
    margin-right: 135px;
}

.mock-group-1 .back-mock {
    margin: 48px 0;
}


/*----------------------------------------
Description
----------------------------------------*/

.penta {
    position: relative;
    display: inline-block;
}

.penta-circle {
    display: inline-block;
    border: 3px dashed #a7cb00;
    border-radius: 50%;
    padding: 115px;
}

.penta-logo {
    height: 210px;
    width: 210px;
    text-align: center;
    background-color: #a7cb00;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.penta-logo img {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.penta-circle-wrapper {
    padding: 64px 54px 20px 54px;
}

.penta-area {
    width: 128px;
    height: 128px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
    line-height: 128px;
    font-size: 4.3rem;
    color: #a7cb00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.on90 {
    margin-top: calc(-50%);
}

.on18 {
    margin-top: calc(-15.45%);
    margin-left: calc(47.5528%);
}

.on54-negetive {
    margin-top: calc(40.4508%);
    margin-left: calc(29.3893%);
}

.on126-negetive {
    margin-top: calc(40.4508%);
    margin-left: calc(-29.3893%);
}

.on162 {
    margin-top: calc(-15.45%);
    margin-left: calc(-47.5528%);
}

.panel {
    border: none;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: 10px;
}

.panel-default>.panel-heading {
    border: none;
    border-radius: 0;
}

.panel-heading {
    padding: 0;
}

.panel-title a {
    color: #ffffff;
    display: block;
    background-color: #a7cb00;
    padding: 18px 25px;
    position: relative;
}

.panel-title a:before,
.panel-title a:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-title a:before {
    height: 3px;
    width: 20px;
    right: 25px;
}

.panel-title a:after {
    width: 3px;
    height: 20px;
    right: 34px;
}

.panel-title a[aria-expanded=true] {
    color: #a7cb00;
    background-color: #f7f7f7;
}

.panel-title a[aria-expanded=true]:before {
    background-color: #a7cb00;
}

.panel-title a[aria-expanded=true]:after {
    display: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
    background-color: #f7f7f7;
}

.panel-body {
    padding: 10px 25px 30px 25px;
    line-height: 1.7;
}


/*----------------------------------------
Call to action
----------------------------------------*/

.call-to-action {
    background-size: cover;
    background-position: center center;
}

.call-to-action *,
.call-to-action *:focus,
.call-to-action *:visited {
    color: #ffffff;
}

.call-to-action a:hover {
    opacity: 0.7;
    color: #ffffff;
}

.call-to-action h2 {
    margin: 0;
    font-size: 4rem;
}

.parallax-1 {
    background-image: url(../img/color-1/bg/parallax-bg-1.jpg);
}


/*----------------------------------------
Optional features
----------------------------------------*/

.optional-feature {
    padding: 44px 68px;
}

.left-block {
    border-right: 1px solid #dddddd;
    text-align: right;
}

.right-block {
    border-left: 1px solid #dddddd;
}

.optional-feature+.optional-feature {
    border-top: 1px solid #dddddd;
}

.optional-feature i {
    font-size: 3.3rem;
    color: #a7cb00;
    line-height: 1.7;
}


/*----------------------------------------
Screenshot
----------------------------------------*/

.sreen-mock {
    background-image: url(../img/color-1/mocks/screen-phone.png);
    background-position: center center;
    background-size: contain;
    height: 585px;
    width: 312px;
    position: relative;
    left: 50%;
    margin-bottom: -585px;
    transform: translateX(-50%);
}

.screen-carousel-wrap {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.screenshot-carousel {
    margin: 0 auto;
    padding: 84px 0;
    width: 844px;
    overflow: hidden;
    z-index: -1;
}

.screenshot-carousel .owl-wrapper-outer {
    overflow: visible;
}

.screenshot-carousel .owl-item {
    padding: 0 22px;
}

.screenshot-carousel .owl-item.active img,
.screenshot-carousel .owl-item.active+.owl-item.active+.owl-item.active img {
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
}

.screenshot-carousel .owl-item.active+.owl-item.active img {
    box-shadow: none;
}


/*** parallax 2 ***/

.parallax-2 {
    background-image: url(../img/color-1/bg/parallax-bg-2.jpg);
    height: 350px;
}


/*----------------------------------------
Price Table
----------------------------------------*/

.price-table {
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
}

.pack-name {
    background-color: #a7cb00;
    text-transform: uppercase;
    color: #ffffff;
    padding: 34px 20px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.pack-price {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px auto;
    float: none;
    line-height: 100px;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #a7cb00;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
    transition: all 0.3s;
}

.price-table:hover .pack-price {
    background-color: #a7cb00;
    color: #ffffff;
}

.pack-price .currency {
    font-size: 3.6rem;
    font-weight: 400;
}

.pack-features {
    padding: 0 20px;
}

.pack-features li+li {
    margin-top: 18px;
}

.get-started {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    border: 1px solid #a7cb00;
    border-radius: 7px;
    padding: 12px 31px;
    margin: 40px auto;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
}

.get-started:hover {
    background-color: #a7cb00;
    color: #ffffff;
}


/*----------------------------------------
Team
----------------------------------------*/

.team-area {
    background-image: url(../img/color-1/bg/team-bg.png);
    background-size: cover;
    background-position: center center;
}

.team-members {
    margin-bottom: -30px;
    float: left;
    width: 100%;
}

.team-member {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
    margin-bottom: 30px;
}

.member-mock {
    width: 100%;
    padding: 20px;
}

.member-name {
    text-transform: uppercase;
    margin: 5px 20px 10px 20px;
}

.member-role {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 20px 10px 20px;
}

.member-about {
    margin-left: 20px;
    margin-right: 20px;
}

.member-connections {
    font-size: 2.2rem;
    padding: 20px 0;
    margin: 10px 20px 0 20px;
    border-top: 1px solid #dddddd;
}

.member-connection {
    display: inline-block;
    margin: 0 8px;
    line-height: 100%;
}


/*----------------------------------------
Download
----------------------------------------*/

#download-area .section-heading {
    margin-bottom: 20px;
}

.download-links a {
    font-size: 4.2rem;
}

.download-links a+a {
    margin-left: 40px;
}

.review-carousel-wrapper {
    margin-left: 30px;
}

.review {
    float: left;
    width: 100%;
    clear: both;
}

.review+.review {
    margin-top: 75px;
}

.owl-item .review+.review {
    transition: transform 1s ease 1.5s;
}

.client-mock {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 5px;
    margin-right: 35px;
    float: left;
}

.client-mock img {
    border-radius: 50%;
}

.review-content {
    float: left;
    width: calc(100% - 165px);
}

i.star:before {
    content: "\f006";
    font-family: "FontAwesome";
    font-style: normal;
}

i.star.on:before {
    content: "\f005";
    color: #a7cb00;
}

.comment {
    padding: 15px 60px 15px 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

.client-name {
    margin: 0;
}

.designation {
    font-size: 1rem;
}


/*----------------------------------------
Feature media
----------------------------------------*/

.feature-medias {
    width: 100%;
}

.feature-medias .col-sm-3,
.feature-medias .col-md-6 {
    display: table;
}

.feature-media {
    text-align: center;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
}


/*----------------------------------------
Subscribe
----------------------------------------*/

.subcribe-area {
    background-color: #a7cb00;
}

.subcribe-area h2,
.subcribe-area p {
    color: #ffffff;
}

.subcribe-area p {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input[type=email] {
    position: relative;
    box-shadow: -7px 9px 27px 0px rgba(0, 0, 0, 0.13);
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    padding: 17px 90px 17px 25px;
    margin: 0;
}

.subscribe-form button {
    font-size: 2.5rem;
    color: #a7cb00;
    background-color: #ffffff;
    border: none;
    line-height: 61px;
    height: 61px;
    border-radius: 0 7px 7px 0;
    width: 78px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.bg-black .subscribe-form input[type=email] {
    border: 1px solid #ffffff;
}

.bg-black .subscribe-form button {
    border-left: 1px solid #ffffff;
    background-color: transparent;
}

.subscribe-form ::-webkit-input-placeholder {
    color: #ffffff;
}

.subscribe-form ::-moz-placeholder {
    color: #ffffff;
}

.subscribe-form :-ms-input-placeholder {
    color: #ffffff;
}

.subscribe-form :-moz-placeholder {
    color: #ffffff;
}

.subscribe-form p {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}


/*----------------------------------------
Footer
----------------------------------------*/

.widget-area {
    padding: 118px 0 80px 0;
}

.feature-about-widget p {
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0;
}

.social {
    font-size: 2rem;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0 10px;
}

.i-facebook:hover {
    color: #3b5999;
}

.i-twitter:hover {
    color: #55acee;
}

.i-googleplus:hover {
    color: #dd4b39;
}

.i-pinterest:hover {
    color: #bd081c;
}

.i-linkedin:hover {
    color: #0077B5;
}

.lower-footer {
    background-color: #a7cb00;
    padding: 22px 0;
}

.footer-menu .menu-item {
    display: inline-block;
    float: left;
}

.footer-menu .menu-item a {
    color: #ffffff;
    font-size: 1.6rem;
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
}

.footer-menu .menu-item:first-child a {
    padding-left: 0;
    margin-left: 0;
}

.copyright {
    margin: 5px 0;
    text-align: right;
    font-size: 1.6rem;
    color: #ffffff;
}


/*----------------------------------------
Event Landing Page 1
----------------------------------------*/

.event-description .section-heading {
    margin-bottom: 40px;
}

.event-description .section-title {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.event-description .section-sub {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.nav-tabs {
    border: none;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.schedule-area .section-heading {
    margin-bottom: 20px;
}

.schedule-date {
    text-align: center;
    margin-bottom: 56px;
}

.schedule-carousel {
    min-height: 1px;
}

.schedule-carousel .owl-prev,
.schedule-carousel .owl-next {
    top: 50%;
    position: absolute;
    margin-top: 37px;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    color: #a7cb00;
}

.schedule-carousel .owl-nav>div.disabled {
    color: #666666;
}

.nav-tabs>li {
    float: none;
    margin-bottom: 0;
    display: inline-block;
}

.nav-tabs>li>a {
    border-radius: 7px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #a7cb00;
    border: none;
}

.more-shcedule {
    margin-top: 50px;
}

.sponsor-group+.sponsor-group {
    margin-top: 60px;
}

.sponsor-group h4 {
    margin-bottom: 15px;
}

.sponsor-group .feature-media {
    height: 130px;
    padding: 25px 60px;
}

.comment-icon {
    color: #a7cb00;
    font-size: 3rem;
}

.sponsor-carousel-wrapper {
    overflow: hidden;
    padding: 60px 92px;
    margin-top: 40px;
}

.sponsor-carousel .owl-wrapper-outer {
    overflow: visible;
}

.sponsor-carousel .owl-item {
    height: 105px;
    opacity: 0;
    padding: 0 15px;
    visibility: hidden;
    background-color: #ffffff;
}

.sponsor-carousel .active {
    opacity: 1;
    visibility: visible;
}

.sponsor-carousel .owl-prev {
    left: -92px;
}

.sponsor-carousel .owl-next {
    right: -92px;
}

.sponsor-carousel .owl-prev,
.sponsor-carousel .owl-next {
    font-size: 2rem;
    color: #a7cb00;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sponsor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.owl-item.active .sponsor {
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
}

.sponsor img {
    position: absolute;
    width: auto !important;
    max-height: 55px;
    max-width: 115px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: none;
    margin: auto;
}


/*** Location accommodation ***/

.location-accommodation {
    background-color: #a7cb00;
}

.location-accommodation .service-icon {
    background-color: #ffffff;
}

.location-accommodation .service-title,
.location-accommodation p {
    color: #ffffff;
}

.location-accommodation .btn {
    margin-top: 40px;
}


/*** Article ***/

.post-date {
    color: #000000;
    margin: 15px 0 10px 0;
}

.post-title {
    font-weight: 500;
}


/*----------------------------------------
Event Landing Page 2
----------------------------------------*/

.event-header-2 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.event-detail {
    float: left;
    width: 100%;
}

.event-detail+.event-detail {
    margin-top: 48px;
}

.info-icon {
    color: #ffffff;
    font-size: 3.8rem;
    float: left;
    width: 40px;
    margin-right: 12px;
    line-height: 45px;
}

.info-content {
    width: calc(100% - 52px);
    float: left;
}

.info-title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.event-header-2 .info-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}


/*----------------------------------------
Pages
----------------------------------------*/

.page .top {
    background-color: #a7cb00;
}

.page-header {
    margin: 120px 0 0 0;
    border-bottom: 1px solid #a7cb00;
    padding: 112px 0;
    background-image: url(../img/color-1/bg/page-header.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-title {
    font-size: 4rem;
    margin: 0;
}


/*----------------------------------------
Blog Page
----------------------------------------*/

.page .post-title {
    font-weight: 700;
}

.post-metas {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.post-meta+.post-meta {
    margin-left: 16px;
}

.read-post {
    font-size: 1.2rem;
    padding: 7px 24px;
    margin-top: 15px;
}

.blog-listing .mainbar {
    margin-top: -60px;
}

.blog-listing article {
    padding: 60px 0;
}

.blog-listing article+article {
    border-top: 1px solid #dddddd;
}

.pagination {
    margin: 0;
}

.page-link {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid #a7cb00;
    border-radius: 50%;
    line-height: 28px;
    float: left;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

.page-link.current-page {
    background-color: #a7cb00;
    color: #ffffff;
}

.sidebar-widget+.sidebar-widget {
    margin-top: 56px;
}

aside,
.widget-content {
    float: left;
    width: 100%;
    clear: both;
}

.widget-title {
    margin-bottom: 20px;
}

.searchform {
    position: relative;
}

.searchform input[type=search] {
    border: 1px solid #a7cb00;
    padding: 5px 35px 5px 12px;
    box-shadow: none;
    margin: 0;
}

.searchform button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: none;
    height: 35px;
    line-height: 33px;
    padding: 0 15px;
}

.angle-list li {
    position: relative;
    line-height: 1.7;
}

.angle-list li:before {
    content: "\f105";
    font-family: "FontAwesome";
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.cat {
    color: rgba(0, 0, 0, 0.8);
}

.cat:hover {
    color: #a7cb00;
}

.cat a {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

.latest-list,
.latest-post {
    float: left;
    width: 100%;
    clear: both;
}

.latest-post+.latest-post {
    margin-top: 30px;
}

.s-thumb {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.s-content {
    float: left;
    width: calc(100% - 90px);
}

.s-title {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    display: inline-block;
    line-height: 1.7;
}

.s-date {
    font-size: 1.2rem;
    color: #a7cb00;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.widget-tag {
    float: left;
    width: 100%;
    margin-bottom: -10px;
}

.widget-tag .tag {
    font-weight: 300;
    border: 1px solid #a7cb00;
    border-radius: 7px;
    display: inline-block;
    float: left;
    padding: 8px 12px;
    margin-right: 9px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.widget-tag .tag:hover {
    color: #ffffff;
    background-color: #a7cb00;
}


/*----------------------------------------
Single Blog Page
----------------------------------------*/

.blog-single .post-metas {
    margin: 25px 0 20px 0;
}

.blog-single blockquote {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7;
    font-style: italic;
    padding: 5px 0 5px 40px;
    border-left: 3px solid #a7cb00;
}


/*** Share on socials ***/

.share-block {
    border-top: 1px solid #a7cb00;
    border-bottom: 1px solid #a7cb00;
    margin: 60px 0;
    padding: 15px 0;
}

.share-intro {
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}

.share-buttons {
    display: inline-block;
    vertical-align: middle;
}

.share-btn {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.33);
    margin: 0 15px;
}

.share-btn:hover {
    color: #a7cb00;
}


/*** Comments ***/

.given-comment {
    padding-top: 60px;
    float: left;
    width: 100%;
}

.comment-list {
    float: left;
    width: 100%;
}

.blog-single .comment {
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
}

.blog-single .comment:only-child {
    border: none;
}

.blog-single .comment+.comment {
    margin-top: 60px;
    padding-top: 60px;
}

.child-comments {
    border-top: 1px solid #dddddd;
    padding-left: 135px;
    padding-top: 60px;
    margin-top: 60px;
    float: left;
    width: 100%;
}

.comment-body {
    float: left;
    width: calc(100% - 165px);
}

.comment-title {
    margin-bottom: 20px;
}

.reply-btn {
    font-size: 1.6rem;
    font-weight: 700;
}


/*** Comment Form ***/

.commenting-wrap {
    float: left;
    width: 100%;
    margin-top: 120px;
}

.commentform-title {
    margin-bottom: 15px;
}

.commentform-sub {
    margin-bottom: 40px;
}

.commentform input,
.commentform textarea {
    border: 1px solid #a7cb00;
    box-shadow: none;
    font-size: 1.2rem;
}


/*----------------------------------------
Contact Page
----------------------------------------*/

.contact-icon {
    display: inline-block;
    vertical-align: center;
    float: left;
    font-size: 3.6rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    border-radius: 50%;
    color: #a7cb00;
}

.contact-data {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    width: calc(100% - 85px);
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
