/*** Background ***/
.blue .btn:hover, 
.blue .btn-solid,
.blue .vertical-slider .owl-dot,
.blue .navbar-default.affix,
.blue .banner-area,
.blue .banner-registration select option,
.blue .penta-logo,
.blue .panel-title a,
.blue .panel-title a[aria-expanded=true]:before,
.blue .pack-name,
.blue .price-table:hover .pack-price,
.blue .get-started:hover,
.blue .subcribe-area,
.blue .lower-footer,
.blue .nav-tabs>li.active>a, 
.blue .nav-tabs>li.active>a:focus, 
.blue .nav-tabs>li.active>a:hover,
.blue .location-accommodation,
.blue.page .top,
.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #00c2fc;
}

/*** Content color ***/
.blue h1, 
.blue h2, 
.blue h3, 
.blue h4, 
.blue h5, 
.blue h6, 
.blue a, 
.blue a:focus, 
.blue a:visited, 
.blue .btn, 
.blue .btn:focus, 
.blue btn:visited, 
.blue .btn-white:hover,
.blue .mock-group .icon-group i,
.blue .banner-registration input[type=submit],
.blue .tcount,
.blue .section_count .text,
.blue .service-icon,
.blue .feature-icon,
.blue .penta-area,
.blue .panel-title a[aria-expanded=true],
.blue .panel-title a[aria-expanded=true]:hover,
.blue .optional-feature i,
.blue .pack-price,
.blue i.star.on:before,
.blue .subscribe-form button,
.blue .schedule-carousel .owl-prev, 
.blue .schedule-carousel .owl-next,
.blue .comment-icon,
.blue .sponsor-carousel .owl-prev, 
.blue .sponsor-carousel .owl-next,
.blue .contact-icon{
    color: #00c2fc;
}

/*** Border color ***/
.blue .btn,
.blue .btn:hover,
.blue .input-success,
.blue .penta-circle,
.blue .get-started,
.blue.page .page-header{
    border-color: #00c2fc;
}

/*** Others ***/
.blue .btn-white:hover,
.vertical-slider.white-dots .owl-dot{
    background-color: #ffffff;
}
.blue .btn-small{
    color: rgba(0, 0, 0, 0.8);
}
.blue .btn.btn-solid,
.blue .btn.btn-solid:hover,
.blue .btn-small:hover,
.blue .btn-white, 
.blue .btn-white:focus, 
.blue .btn-white:visited,
.blue .banner-area h1,
.blue .panel-title a,
.blue .call-to-action *, 
.blue .call-to-action *:focus, 
.blue .call-to-action *:visited,
.blue .subcribe-area h2, 
.blue .subcribe-area p,
.blue .panel-title a:hover,
.blue .get-started:hover,
.blue .footer-menu .menu-item a,
.blue .footer-menu .menu-item a:hover,
.blue .info-title,
.blue .pack-name{
    color: #ffffff;
}
.blue .btn-white,
.blue .btn-white:hover{
    border-color: #ffffff;
}
.blue .btn-white:hover{
    color: #00c2fc;
}
.blue .btn-solid:hover{
    background-color: #0394bf;
    border-color: #0394bf;
}
.blue a:hover{
    color: #0394bf;
}
.blue .play-video:hover{
    color: #ffffff;
}
.blue .banner-registration ::-webkit-input-placeholder{
    color: #00c2fc;
}
.blue .banner-registration ::-moz-placeholder{
    color: #00c2fc;
}
.blue .banner-registration :-ms-input-placeholder{
    color: #00c2fc;
}
.blue .banner-registration :-moz-placeholder{
    color: #00c2fc;
}
.blue .panel-title a[aria-expanded=true],
.blue .panel-title a[aria-expanded=true]:hover{
    background-color: #f7f7f7;
}
.blue .i-facebook:hover{
    color: #3b5999;
}
.blue .i-twitter:hover{
    color: #55acee;
}
.blue .i-googleplus:hover{
    color: #dd4b39;
}
.blue .i-pinterest:hover{
    color: #bd081c;
}
.blue .i-linkedin:hover{
    color: #0077B5;
}
.blue .parallax-1 {
    background-image: url(../../img/color-2/bg/parallax-bg-1.jpg);
}
.blue .parallax-2 {
    background-image: url(../../img/color-2/bg/parallax-bg-2.jpg);
}
.blue .team-area{
    background-image: url(../../img/color-2/bg/team-bg.png);
}
.blue .banner-bg-1 {
    background-image: url(../../img/color-2/bg/event-header.jpg);
}
.blue .banner-bg-2 {
    background-image: url(../../img/color-2/bg/event-header-2.jpg);
}
.blue.page .page-header{
    background-image: url(../../img/color-2/bg/page-header.jpg);
}
.blue.page404 .banner-area{
    background-color: transparent;
}

/*----------------------------------------
Particle Version
----------------------------------------*/
.blue.particle .banner-area:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.11;
    background-size: cover;
    background-position: center center;
}
.particle-bg-1, .particle-bg-2, .particle-bg-3, .particle-bg-4, .particle-bg-5{
    position: relative;
    z-index: 1;
}
.blue.particle .particle-bg-1:before{
    background-image: url(../../img/color-2/bg/particle-bg-1.jpg);
    z-index: 0;
}
.blue.particle .particle-bg-2:before{
    background-image: url(../../img/color-2/bg/particle-bg-2.jpg);
    z-index: 0;
}
.blue.particle .particle-bg-3:before{
    background-image: url(../../img/color-2/bg/particle-bg-3.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.11;
    background-size: cover;
    background-position: center center;
}
.blue.particle .particle-bg-4:before{
    background-image: url(../../img/color-2/bg/particle-bg-4.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.11;
    background-size: cover;
    background-position: center center;
}
.blue.particle .particle-bg-5:before{
    background-image: url(../../img/color-2/bg/particle-bg-5.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.11;
    background-size: cover;
    background-position: center center;
}
.blue.particle .particle-bg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.blue.particle .particle-1 {
    background-image: url(../../img/color-2/bg/particle-1.png);
}
.blue.particle .particle-2{
    background-image: url(../../img/color-2/bg/particle-2.png);
}
.blue.particle .particle-3 {
    background-image: url(../../img/color-2/bg/particle-3.png);
    background-size: cover;
    background-position: center bottom;
}